<!-- Navigation-->
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" th:href="@{/}" th:text="#{user.navbar.brand.text}"></a>
		
		<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
			<!--form-control -->
			<input class="mr-sm-2"
				   type="search"
				   placeholder="Buscar Producto"
				   aria-label="Search"
				   name="nombre"
				   autocomplete="off">
			<button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
		</form>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{user.nav.item.nav.link1}"></a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" th:href="@{/user/login}">
						Login
					</a>
				</li>-->
				<!-- Verificar si el usuario está logueado -->
                <li class="nav-item" th:if="${usuario != null}">
                    <span class="nav-link">Bienvenido, <span th:text="${usuario.nombre}"></span></span>
                </li>
                <li class="nav-item" th:if="${usuario == null}">
                    <a class="nav-link" th:href="@{/user/login}">
                        Login
                    </a>
                </li>
				<li class="nav-item" th:if="${usuario != null}">
                    <a class="nav-link" th:href="@{/user/compras}">
                        Compras
                    </a>
                </li>
				<li class="nav-item" th:if="${usuario != null}">
                    <a class="nav-link" th:href="@{/user/cerrar}">
                        Salir del Sistema
                    </a>
                </li>
				<!--<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Shop
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#!">All Products</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item" href="#!">Popular Items</a></li>
						<li><a class="dropdown-item" href="#!">New Arrivals</a></li>
					</ul>
				</li>-->
			</ul>
			<form class="d-flex">
				<!-- <button class="btn btn-outline-dark" type="submit">
					<i class="bi-cart-fill me-1"></i>
					Cart
					<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
				</button> -->
				<a class="btn btn-outline-dark" th:href="@{/getCart}">
					<i class="bi-cart-fill me-1"></i>
					Carrito
					<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
				</a>
			</form>
		</div>
	</div>
</nav>